{% extends 'padres/base.html' %}

{% block mi_contenido %}
       
        <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5">¡Viajemos juntos!</h1>
                           
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <p>
            María Eugenia Dearriba:
        <p>
        <p>    
            Laura Edelman: Amplia trayectoria en sistemas con límite tendiendo al retiro para pasar al Dibujo-Pintura-Teatro-Danzas
        <p>
        <p>
            Pablo Silvestre: trabaja como beta tester en una empresa de publicidad digital y es un entusiasta de los viajes.

        <p>

{% endblock mi_contenido %}