{% extends 'padres/base.html' %}

{% block title_pagina %}
<title>Viajemos Juntos - Nosotros</title>
{% endblock title_pagina %}

{% block mi_contenido %}

    <p>
        María Eugenia Dearriba: Ingeniera en Sistemas, madre y viajera incansable
    <p>
    <p>    
        Laura Edelman: Amplia trayectoria en sistemas con límite tendiendo al retiro para pasar al Dibujo-Pintura-Teatro-Danzas
    <p>
    <p>
        Pablo Silvestre: trabaja como beta tester en una empresa de publicidad digital y es un entusiasta de los viajes.

    <p>

{% endblock mi_contenido %}