{% extends 'padres/base.html' %}

{% block title_pagina %}
<title>Nosotros</title>
{% endblock title_pagina %}

{% block mi_contenido %}
    <br>
    <p>
        <FONT COLOR="blue"><b>NUESTRO GRAN EQUIPO</b></FONT COLOR="blue">
        <br>
        <br>
        <strong>María Eugenia Dearriba :</strong> Ingeniera en Sistemas, madre y viajera incansable
        <br>
        <strong>Laura Edelman :</strong> Amplia trayectoria en sistemas con límite tendiendo al retiro para pasar al Dibujo-Pintura-Teatro-Danzas.
        <br>
        <strong>Pablo Silvestre :</strong> Trabaja como beta tester en una empresa de publicidad digital y es un entusiasta de los viajes.
    </p>

{% endblock mi_contenido %}