{% extends 'padres/base.html' %}

{% block title_pagina %}
<title>Agregar Destino</title>
{% endblock title_pagina %}

{% block mi_contenido %}
<form action={% url 'agregar_destino' %} method="POST" enctype = 'multipart/form-data'>
    {% csrf_token %}
    <h3>Incorporemos un nuevo Destino</h3>
    {% comment %} <table>
        {{formulario}}
    </table> {% endcomment %}
    <table>
        <div class="form-group"> 
            {{form.media}}
            {{formulario}}
        </div>
    </table>
    
    <button>Agregar</button>
</form>

{% endblock mi_contenido %}