{% extends 'padres/base.html' %}

{% block title_pagina %}
<title>Editar Destino</title>
{% endblock title_pagina %}

{% block mi_contenido %}
<form action={% url 'editar_destino' destino.id %} method="POST" enctype = 'multipart/form-data'>
    {% csrf_token %}
    <h3>Actulizar información del Destino</h3>
    {% comment %} <table>
        {{formulario}}
    </table> {% endcomment %}
    <table>
        <div class="form-group"> 
            {{form.media}}
            {{formulario}}
        </div>
    </table>
    
    <button>Actualizar</button>
</form>

<p>
    <a href={%url 'listar' %}>Volver</a>
</p>

{% endblock mi_contenido %}