{% extends 'padres/base.html' %}

{% block mi_contenido %}
       
        <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5">¡Viajemos juntos!</h1>
                           
                        </div>
                       
                    </div>
                </div>
            </div>
        </header>

    <br>
    <br>
    <br>    
   <h2>“EL VIAJE ES UNA CARRETERA SIN RETORNO: CUANTO MÁS HAS VISTO, MAYOR ES TU CONCIENCIA DE LO QUE TE QUEDA POR VER.” </h2>
  <br>
    <br>
    <br>

{% endblock mi_contenido %}
    


