{% extends 'padres/base.html' %}

{% block title_pagina %}
<title>Viajemos Juntos - Ver Destinos</title>
{% endblock title_pagina %}

{% block mi_contenido %}
<br>
<p><H2>LISTADO DE DESTINOS </H2><p>
<br>

<form action={% url 'listar' %} method="GET">
    <p>  
       {{formulario}}
        <button>Buscar</button>
    </p>
</form>

 <p>
    {% if destinos %}

        {% for destino in destinos %}
            <P>
            <strong>País:</strong> {{destino.pais}} 
            <strong>Ciudad:</strong> {{destino.ciudad}} 
            <FONT COLOR="blue">----->></FONT COLOR="blue">{{destino.informacion}}
            <br>
                <strong>Sugerido para:</strong> {{destino.sugerido_para}} 
                <strong>  Por: </strong>{{destino.autor}} <strong>el día </strong>  {{destino.fecha_creacion}} 
            </p>
                    <HR>   
            
        {% endfor %}

    {% else %}
        <p>
            <FONT COLOR="red">
                No se encontraron resultados.
            </FONT COLOR="red">
        </p>
    {% endif %}

</p>
{% endblock mi_contenido %}