{% extends 'padres/base.html' %}

{% block title_pagina %}
<title>Viajemos Juntos - Ver Destinos</title>
{% endblock title_pagina %}

{% block mi_contenido %}
<br>
<p><H2>LISTADO DE DESTINOS </H2><p>
<br>

<form action={% url 'listar' %} method="GET">
    <p>  
       {{formulario}}
        <button>Buscar</button>
    </p>
</form>

 <p>
    {% if destinos %}

        {% for destino in destinos %}
            
            <li><strong>País:</strong> {{destino.pais}} 
            <li><strong>Ciudad:</strong> {{destino.ciudad}} 
            <li>{{destino.informacion}}
            <li> <strong>Sugerido para:</strong> {{destino.sugerido_para}} 
            <li> <strong>Autor:</strong>{{destino.autor}} --  <strong>Fecha de creación: </strong>{{destino.fecha_creacion}} 
             <HR>   
            
        {% endfor %}

    {% else %}
        <p>No se encontraron resultados.</p>
    {% endif %}

</p>
{% endblock mi_contenido %}