{% extends 'padres/base.html' %}

{% block title_pagina %}
<title>Ver Destinos</title>
{% endblock title_pagina %}

{% block mi_contenido %}
<br>
<p><H3>LISTADO DE DESTINOS </H3><p>

<form action={% url 'listar' %} method="GET">
    <p>  
       {{formulario}}
        <button>Buscar</button>
    </p>
</form>

 <p>
    {% if destinos %}

        {% for destino in destinos %}
            <li>
                {{destino}}
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href={% url 'editar_destino' destino.id %}>Editar</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href={% url 'eliminar_destino' destino.id %}>Eliminar</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href={% url 'mostrar_destino' destino.id %}>Ver</a>
            </li>  
            
        {% endfor %}

    {% else %}
        <p>
            <FONT COLOR="red">
                No se encontraron resultados.
            </FONT COLOR="red">
        </p>
    {% endif %}

</p>
{% endblock mi_contenido %}