{% extends 'padres/base.html' %}

{% block title_pagina %}
<title>Viajemos Juntos - Destino elegido</title>
{% endblock title_pagina %}

{% block mi_contenido %}
<h3>Información del Destino</h3>
<form action={% url 'mostrar_destino' destino.id %} method="GET" enctype = 'multipart/form-data'
    <p>
        <Li><strong>País:</strong>{{destino.pais}}</Li>
        <Li><strong>Ciudad:</strong>{{destino.ciudad}}</Li>
        <Li><strong>Información:</strong>{{destino.informacion}}</Li>
        <Li><strong>Sugerido:</strong>{{destino.sugerido_para}}</Li>
        <Li><strong>Autor:</strong>{{destino.autor}}</Li>
        <Li><strong>Fecha creación:</strong>{{destino.fecha_creacion}}</Li>
        <Li><strong>Fecha ult. modificación:</strong>{{destino.fecha_modificacion}}</Li>
        <Li><strong>Foto:</strong>{{destino.foto_destino}}</Li>
    </p>
   
    <p>
        <a href={%url 'listar' %}>Volver</a>
    </p>
    
</form>


{% endblock mi_contenido %}