{% extends 'padres/base.html' %}

{% block title_pagina %}
<title>Destino elegido</title>
{% endblock title_pagina %}

{% block mi_contenido %}
<h3>Información del Destino</h3>

    <p>
        <p><strong>País:</strong> {{destino.pais}}</p>
        <p><strong>Ciudad:</strong> {{destino.ciudad}}</p>
        <p><strong>Información:</strong> {{destino.informacion | safe}}</p>
        <p><strong>Sugerido:</strong>{{destino.sugerido_para}}</p>
        <p><strong>Autor:</strong> {{destino.autor}}</p>
        <p><strong>Fecha creación:</strong> {{destino.fecha_creacion}}</p>
        <p><strong>Fecha ult. modificación:</strong> {{destino.fecha_modificacion}}</p>
            
        <img src={{destino.foto_destino.url}} > 
   
    </p>
   
    <p>
        <a href={%url 'listar' %}>Volver</a>
    </p>

{% endblock mi_contenido %}
