<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destinos</title>
    
</head>
<body>
    {% for desitno  in destinos %}
        <li>{{destino.pais}} 
            {{destino.ciudad}} 
            {{destino.informacion}} 
            {{destino.sugerido_para}}
            {{destino.fecha_creacion}}
            {{destino.autor}}
        </li>    
    {% endfor %}

</body>
</html>