{% extends 'padres/base.html' %}

{% block title_pagina %}
<title>Perfil</title>
{% endblock title_pagina %}


{% block mi_contenido %}
<h1>Información del usuario:</h1>
<p>
    <li>
        {% if request.user.extensionusuario.avatar %}
        <img src={{request.user.extensionusuario.avatar.url}} alt=width='100' height='120'>
        {% else %}
        Avatar no cargado
        {% endif %}
    </li>
</p>
<p>
    <li><strong>Nombre:</strong> {{request.user.first_name}}</li>
    <br>
    <li><strong>Apellido:</strong> {{request.user.last_name}}</li>
    <br>
    <li><strong>Email:</strong> {{request.user.email}}</li>
    <br>
    <li>
    {% if request.user.extensionusuario.descripcion %}
    <strong>Sobre mi:</strong> {{request.user.extensionusuario.descripcion}}
    {% else %}
    <strong>Sobre mi:</strong> En desarrollo
    {% endif %}
    </li>
    <br>
    <li>
    {% if request.user.extensionusuario.link %}
    <strong>Mi web:</strong> <a href={{request.user.extensionusuario.link}}> {{request.user.extensionusuario.link}}</a>
    {% else %}
    <strong>Mi web:</strong> En desarrollo
    {% endif %}
    </li>
</p>
<p>
    <a href={% url 'editar_perfil' %}>Editar datos</a>
</p>
<p>
    <a href={% url 'cambiar_contrasenia' %}>Cambiar contraseña</a>
</p>
{% endblock mi_contenido %}